{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Accueil</h1>

maintenant : {{ "now" | date("y-M-d h:i:s A", 'Europe/Paris') }}<br>
annee : {{ "now" | date("Y", 'Europe/Paris') }}<br>
demain : {{ "tomorrow" | date("y-m-d") }}<br>
string : {{ 'bon' ~ 'bon' | upper }}<br>
string : {{ ('bon' ~ 'bon') | upper }}<br>

<h2>Hello {{ controller_name }}! ✅</h2>
This friendly message is coming from:
<ul>
    <li>Your controller at <code><a href="{{ 'C:/Users/lagra/Desktop/htmlcdag2/symfony/cours2/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
    <li>Your template at <code><a href="{{ 'C:/Users/lagra/Desktop/htmlcdag2/symfony/cours2/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
</ul>

Des liens :
<ul>
    <li><a href="/home">home</a></li>
    <li><a href="/pageTexte/">pageTexte</a></li>
    <li><a href="/pageTexte/hello">pageTexte id hello</a></li>
    <li><a href="/site">redirect 1</a></li>
    <li><a href="/redirectHome">redirect home</a></li>
    <li><a href="/contact">contact</a></li>
    <li><a href="/user">user</a></li>
</ul>
{% endblock %}
