{% extends 'base.html.twig' %}

{% block title %}List Categories !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div>
<a href={{path("app_logout")}}>Logout</a>
<table>
<tr>
<th>ID</th>
<th>Name</th>
<th>Description</th>
</tr>
{% for cat in lisCat %}
<tr>
<td>{{ cat.id }}</td>
<td><a href="/categorie2/{{ cat.id }}">{{ cat.nomCat }}</a></td>
<td>{{ cat.description }}</td>
<td><a href="/editCategorie/{{ cat.id }}" class="btn btn-warning">MAT</a></td>
<td><a href="{{path('edit_categorie', { id : cat.id })}}" class="btn btn-warning">MAT</a></td>
<td><a href="/editCategorie1/{{ cat.id }}" class="btn btn-warning">Edit</a></td>
<td><a href="/deleteCategorie/{{ cat.id }}" class="btn btn-warning">Delete</a></td>
</tr>
{% endfor %}
</div>
</table>

<p>
<a href="/addCategorie">Add</a>
</p>
<p>
<a href="/">Home</a>
</p>

{% endblock %}
