{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div>
<table>
<tr>
<th>ID</th>
<th>Name</th>
<th>Description</th>
<th>...</th>
</tr>
{% for cat in lisCat %}
<tr>
<td>{{ cat.id }}</td>
<td><a href="/categorie2/{{ cat.id }}">{{ cat.nomCat }}</a></td>
<td>{{ cat.description }}</td>
<td><a href="/editCategorie/{{ cat.id }}">Edit</a></td>
</tr>
{% endfor %}
</div>
</table>

<a href="/addCategorie">Add</a>

{% endblock %}
